.button
{
    background-color:#338BFF;
	
    
}
h3 {
  font-size: 30px;
}

.login{
	
      border: 2px solid black;
       width: 50%;
     height:80%;
     padding:5px
     margin: center;
     left: 300px;
     right: 100px;
}
